body {
	background-color: #424242;
	margin: 0;
  padding: 0;
}

.next-button:hover, .prev-button:hover, .pokemon:hover {
	background-color: #363636;
}

.next-button:active, .prev-button:active, .pokemon:active {
	background-color: #2a2a2a;
}

.next-button, .prev-button, .pokemon {
	color: white;
	cursor: pointer;
	text-align: center;
	width: 100%
}

.pokemon-height-and-weight, .pokemon-image-and-name, .pokemon-abilities {
	display: inline-block;
	text-align: center;
}

.next-button, .prev-button {
	display: inline-block;
	width: 50%;
}

.buttons {
	align-items: center;
	display: flex;
	justify-content: center;
}

.pokemon-height-and-weight {
	width: 46%;
}

.pokemon-abilities {
	width: 46%;
}
